*{
    margin: 0;
    padding: 0;
}
.header{
    background: rgba(0, 0, 100, 0.4);
    height: 100vh;
}
.video-background{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

@media(min-aspect-ratio:16/9){

    .video-background{
        width: 100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9){

    .video-background{
        width: auto;
        height: 100%;
    }
}
.heading{
    position: relative;
    text-align: center;
    font-family: cursive;
    color: white;
    top: 150px;
}
.heading h1{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 4px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 20px #ebdddd,
    -2px 1px 30px #181818;
    

}

.button {
    width: 160px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button.bn {
    background-image: linear-gradient(
        to right,
        #6253e1,
        #852d91,
        #a3a1ff,
        #f24645
      );
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  }

.btn1{
    display: flex;
    justify-content: center;
    margin-top: 180px;
}